@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: transparent;
    outline: none;

    /*-webkit-touch-callout: none;*//* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    font-size-adjust: none !important;
    -webkit-text-size-adjust:none !important;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}
*, *::before, *::after { box-sizing: border-box; }

html, body{-ms-overflow-style: none; scrollbar-width: none; position: absolute; top: 0; right: 0; margin: 0; padding: 0; width: 100% !important; height: 100% !important; height: fit-content; overflow: auto; }


.noscroll{ overflow: hidden; }
.breakline-text{ content: "" !important; display: block !important; margin-bottom: 20px !important; }
.highlight-text{ font-weight: 700; color: #0047ba; }


/*--------------------------------------- popup ---------------------------------------*/
.popup-div{ position: fixed; top: 0; left: 0; margin: 0; padding: 0; min-width: 100%; min-height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 99999; display: none; overflow: hidden; }

.popup-content{ background-color: #ffffff; width: 512px; height: fit-content; margin: 0 auto; padding: 20px; }
.popup-top{ display: flex; flex-direction: row; align-items: center; justify-content: center; margin: 0; padding: 0; border: 0; background-color: transparent; }
.popup-top svg{ width: 40px; }
.popup-top h1{ font-size: 40px; font-weight: 700; margin: 0; margin-left: 20px;  padding: 0; }

.popup-content p{ width: 100%; margin: 20px 0px; padding: 0; line-height: 1.6; }
.popup-div .breakline-text{ content: "" !important; display: block !important; margin-bottom: 16px !important; }
.popup-close{ font-size: 20px; width: 100%; margin: 0; margin-top: 20px; padding: 12px 0px; border: 0; font-weight: 700; }

.gray_svg{ fill: #9b9b9b; }
/*--------------------------------------- popup ---------------------------------------*/







.whatsapp_shortcut{ position: fixed; bottom: 0; right: 0; margin: 0; padding: 20px; z-index: 9999;}
.whatsapp_shortcut svg{ width: 60px; }

/*--------------------------------------- Header ---------------------------------------*/
.header{ width: 100%; height: fit-content; margin: 0; padding: 0; background-color: #ffffff; }
.nav_bar{ display: flex; flex-direction: row; justify-content: space-between; max-width: 1024px; margin: 0 auto; padding: 0px 0px 0px 0px; overflow: hidden; }

.brand-logo{ width: 200px; margin: 0; padding: 20px 0px;}

.nav_bar ul{ list-style: none; list-style-type: none; margin: auto 0; padding: 0; width: fit-content; height: fit-content; font-weight: 500; }
.nav_bar ul li{ margin: 0; padding: 0; float: left; }
.nav_bar ul li a{ display: block; margin: 0; padding: 20px; font-size: 20px; float: left; color: #000000; text-decoration: none;}

#header-cta{ background-color: #7f7f7f; color: #ffffff; }

.h1-text__variation-short{ display: none; }
/*--------------------------------------- Header ---------------------------------------*/




/*--------------------------------------- DropDown ---------------------------------------*/
.hamburger{ display: none; margin: auto 0px; padding: 20px 0px 20px 20px; }
#hamburger_toggle{ display: none; }
.hamburger_svg{ width: 35px; fill: #7f7f7f; }
#hamburger_close_icon{ display: none; }
/*--------------------------------------- DropDown ---------------------------------------*/



/*--------------------------------------- Above Fold ---------------------------------------*/
.section_container{ width: 100%; height: fit-content; margin: 0; padding: 0; }
.section_content, .centered_container{ display: block; max-width: 1024px; margin: 0 auto; padding: 0 ; overflow: hidden; position: relative; }
#above-fold{ background-color: #0047ba; }
#above-fold .section_content{ height: 420px; }

.above-fold-img{ position: absolute; bottom: -80px; right: 0; width: 612px; opacity: 0.25; z-index: 1; }


.above-fold-left{ position: absolute; max-width: 530px; height: 100%; z-index: 9;}
.united_span{ display: inline-block; }

#above-fold-texts{ margin: 40px 0px; padding: 0; width: fit-content; height: fit-content; overflow: hidden; }
.h1-text{ margin: 0; padding: 0; font-size: 40px; font-weight: 700; color: #ffffff; }
.h3-text{ margin: 0; padding: 0; font-size: 20px; font-weight: 300; color: #ffffff; }
#h3-subtitle{ font-size: 16px; margin-bottom: 5px; }

#above-fold-btns{ display: flex; flex-direction: row; margin: 0; margin-bottom: 40px; padding: 0; width: fit-content; height: fit-content; overflow: hidden; }
#above-fold-btns a{ display: block; margin: 0; padding: 15px 20px; font-size: 20px; font-weight: 500; text-decoration: none; overflow: hidden; }

.red-btn{ background-color: #ff0000; color: #ffffff; }
.blue-btn{ background-color: #ffffff; color: #0047ba; }

#above-fold-btns a#last-btn{ margin-left: 20px; }
/*--------------------------------------- Above Fold ---------------------------------------*/




/*--------------------------------------- FullBar ---------------------------------------*/
#address-fullbar{ background-color: #7f7f7f; padding: 20px 0px;}
#address-fullbar .section_content{ display: flex; flex-direction: row; justify-content: space-between; }

.fullbar_btn{ display: flex; flex-direction: row; align-items: center; font-size: 20px; text-decoration: none; color: #ffffff;}
.fullbar_svg{ display: block; margin: auto; padding: 0; width: 30px; fill: #ffffff; margin-right: 10px; }

.info__nav{ display: flex; flex-direction: row;}
.info__nav_item_hitbox{ width: fit-content; height: 100%; display: flex; justify-content: center; /*background-color: aquamarine;*/ padding: 0 10px;}
.info__svg{ display: block; margin: auto; padding: 0; width: 30px; fill: #ffffff;}
/*--------------------------------------- FullBar ---------------------------------------*/




/*--------------------------------------- CustomList ---------------------------------------*/
#customList-fullbar{ padding: 0; margin: 40px 0px; }
.customList_title{ display: block; font-size: 30px; font-weight: 700; margin: 0; margin-bottom: 20px; padding: 0; color: #0047ba;}
.customList__div{ display: flex; flex-direction: row; justify-content: space-between; }
.customList__ul{ list-style-type: square; font-size: 18px; font-weight: 400; margin: 10px 0px; padding: 0; padding-left: 18px; width: fit-content; color: #000000; }
.customList__ul li{ margin: 0; margin-bottom: 5px; padding: 0; }
.customList__ul li::marker, .master_simbol{ color: #0047ba; }
/*--------------------------------------- CustomList ---------------------------------------*/









/*--------------------------------------- SpecialBar ---------------------------------------*/
#special-fullbar{ /*background-color: #00b71a;*/ margin: 0; padding: 0; }
#special-fullbar .section_content{ display: flex; flex-direction: row; align-items: center; justify-content: space-between; color: #ffffff; background-color: #00b71a;}

.section_description{ display: flex; flex-direction: row; align-items: center; }
.special_svg{ width: 50px; /*margin-right: 20px;*/ margin: 0px 20px; fill: #ffffff; }
#call_svg{ display: block; }

.special_textbox{ display: block; margin: auto 0; padding: 0; }
.special_textbox h1, .special_textbox h3{ display: block; margin: 0; padding: 0; }

.special_textbox h1{ font-size: 30px; font-weight: 700; }
.special_textbox h3{ font-size: 20px; font-weight: 300; }

#special_cta{ margin: 0; padding: 30px 20px ; width: fit-content; min-height: fit-content; background-color: #008f14; }
/*--------------------------------------- SpecialBar ---------------------------------------*/








/*--------------------------------------- Card-Product ---------------------------------------*/
#bestBuy-section{ margin-bottom: 60px; }
#bestBuy_title{ margin-bottom: 40px; }

.bestBuy-cards_container{ display: flex; flex-direction: row; justify-content: center; align-items: center; margin: 0; padding: 0; width: 100%; height: 430px }
.bestBuy-card{ display: flex; flex-direction: column; align-items: center; justify-content: space-between; overflow: hidden; width:calc((100% - 44px) / 3); min-height: 100%; padding: 20px; background-color: #ffffff; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; cursor: pointer; text-decoration: none; color: rgb(0, 0, 0);}
.middle-card{ margin: 0px 20px;}

.bestBuy-card, .middle-card{ margin-bottom: 4px;}

.bestBuy-card-top{ margin: 0; padding: 0; width: 100%; }
.bestBuy-card-top h1, .bestBuy-card-top h3{ margin: 0; padding: 0; text-align: center; }
.bestBuy-card-top h1{ font-size: 25px; font-weight: 500; }
.bestBuy-card-top h3{ font-size: 20px; font-weight: 300; }

.card_stars_container{ margin: 0 auto; margin-top: 10px; padding: 0; width: fit-content; height: fit-content; }
.card_star_svg{ width: 15px; fill: #ffaa00; } 

.bestBuy-card-img{ display: block; width: 100%; margin: 40px 0px; padding: 0; }
.bestBuy-card-btn{ display: block; width: 100%; margin: 0; padding: 10px 0px; border: 0; background-color: #0047ba; color: #ffffff; font-size: 20px; font-weight: 500; text-align: center;}

/*--------------------------------------- Card-Product ---------------------------------------*/





/*--------------------------------------- TimetableBar ---------------------------------------*/
#timetable-fullbar{ display: flex; flex-direction: row; justify-content: space-between; background-color: #7f7f7f; padding: 20px 0px; }
#timetable-fullbar .fullbar_svg{ margin: 0px 20px; }
.extra-padding-right{ padding-right: 20px; }
/*--------------------------------------- TimetableBar ---------------------------------------*/







/*--------------------------------------- Loading ---------------------------------------*/
@keyframes loading-circle-animation{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}
.loading-circle-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9e9e9;
}
.loading-circle{
    display: block;
    width: 15%;
    animation: loading-circle-animation 1.3s linear infinite;
    animation-play-state: running;
}
.loading-circle-full{fill: #ffffff;}
.loading-circle-quarter{fill: #0047ba;}

#carousel-loading-container{ display: block; width: 100%; height: 100%; margin: 0; padding: 0; position: absolute; top: 0; left: 0;  background-color: transparent; }
#loading-div-carousel{ position: relative; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; background-color: transparent; }
/*--------------------------------------- Loading ---------------------------------------*/






/*--------------------------------------- Carousel ---------------------------------------*/
.iframe_container{
    max-width: 1024px;
    max-height: fit-content;
    margin: 0 auto;
    /*background-color: #09ff00;*/
}
.iframe_wrapper{
    /*background-color: #e2e2e2;*/
    padding-top: 56.25%;
    margin: 0px;
    overflow: hidden;
    position: relative;
    display: block;
}

#carousel-section .section_content{ position: relative; height: 512px; background-color: #f5f5f5; }
.carousel_images_switch_container{ position: absolute; width: 100%; height: 100%; margin: 0; padding: 0; list-style: none; z-index: 9; display: flex; flex-direction: row; justify-content: space-between; align-items: center; }

.carousel_btn{ display: block; width: 10%; height: 100%; margin: 0; padding: 0; border: 0; cursor: pointer; background-color: transparent; }
.carousel_svg{ width: 50%; margin: 0; padding: 0; fill: #ffffff; opacity: 0.75;}

.carousel_btn:hover{background-color: rgba(0, 0, 0, 0.25);}
.carousel_btn:hover .carousel_svg{opacity: 1;}

.carousel_images_list{ position: absolute; width: 100%; height: 100%; margin: 0; padding: 0; list-style: none; }
.carousel-slide{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; margin: 0; padding: 0; opacity: 0; }
.carousel-slide img, .carousel-slide iframe{ width: 100%; height: 100%; margin: 0; padding: 0; object-fit: cover; object-position: center; }

.active-slide{ opacity: 1; z-index: 1; }
/*--------------------------------------- Carousel ---------------------------------------*/





/*--------------------------------------- Feature ---------------------------------------*/
#feature-section{ margin: 60px auto; padding: 0; display: flex; flex-direction: row; align-items: center; }

.feature-card{ display: flex; flex-direction: column; justify-content: space-between; align-items: center; width: calc( 50% - 10px ); height: fit-content; margin: 0; padding: 40px 20px; overflow: hidden; color: #ffffff; }
#card-left{ margin-right: 10px; background-color: #0047ba; }
#card-right{ margin-left: 10px; background-color: #c90000; }

.feature-card svg{ display: block; height: 95px; margin: 0 auto; padding: 0; fill: #ffffff; }
.card-textbox{ width: 100%; height: fit-content; }
.feature-card h1{ display: block; width: 100%; height: fit-content; margin: 20px 0px; padding: 0; font-size: 30px; font-weight: 700; text-align: center; /*white-space: nowrap;*/ }
.feature-card p{ display: block; width: 100%; height: fit-content; margin: 0px; padding: 0; line-height: 1.6; font-size: 16px; font-weight: 400; /*text-align: justify; text-justify: inter-word;*/ text-decoration: none; }
/*--------------------------------------- Feature ---------------------------------------*/




/*--------------------------------------- Description ---------------------------------------*/
#description-section{ margin-top: 60px; }

.description-content{ margin: 0; margin-bottom: 40px; padding: 0; }
.description-content:last-of-type{ margin-bottom: 0; }

.description-content h1{ margin: 0; margin-bottom: 10px; padding: 0; font-size: 30px; font-weight: 700; color: #0047ba; }
.description-content p{ margin: 0; padding: 0; line-height: 1.6; font-size: 16px; color: #000000; text-decoration: none; }
/*--------------------------------------- Description ---------------------------------------*/




/*--------------------------------------- CTA Description ---------------------------------------*/
.cta-text{ display: flex; flex-direction: row; align-items: center; width: 100%; height: fit-content; margin: 0; margin-bottom: 60px; padding: 0;}
.cta-text a{ display: flex; flex-direction: row; justify-content: center; align-items: center; width: calc(50% - 10px); padding: 20px 0px; font-size: 20px; font-weight: 500; text-align: center; text-decoration: none; }

.cta-map{ background-color: #0047ba; color: #ffffff; }
.cta-call{ background-color: #c90000; color: #ffffff; }
.cta-whatsapp{ background-color: #2fb844; color: #ffffff; }
#cta-call-white{ background-color: #eeeeee; color: #000000; }

.cta-text__left{ margin: 0; margin-right: 10px; }
.cta-text__right{ margin: 0; margin-left: 10px; }

.cta-text:last-of-type{ margin: 0px; margin-bottom: 0px; }

.cta-text__svg{ width: 30px; margin-right: 10px; fill: #ffffff; }
.map-pointer{ height: 30px; }

#cta-call-white .cta-text__svg{ fill: #000000; }
/*--------------------------------------- CTA Description ---------------------------------------*/




/*--------------------------------------- iframe ---------------------------------------*/
#iframe-maps{ height: 625px; margin: 0px auto; margin-top: 60px; }
.loaded-content{ display: block; width: 100%; height: 100%; margin: 0; padding: 0; position: absolute; top: 0; left: 0; }
/*--------------------------------------- iframe ---------------------------------------*/




/*--------------------------------------- Footer ---------------------------------------*/
.footer{
    max-width: 1024px;
    max-height: fit-content;
    margin: 0 auto;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    margin: 60px auto;
    text-decoration: none;
}
.footer_content{ width: 100%; height: fit-content; border-top: solid 2px #e2e2e2; border-bottom: solid 2px #e2e2e2;}

.footer_content ul{ list-style-type: none; padding: 0; margin: 0; font-size: 16px; color: #000000; }
.footer_content li{ padding: 0; margin: 0; margin-bottom: 20px; font-size: 16px; color: #000000; }
.footer_content a{ text-decoration: none; color: #000000; }
.footer_span{font-weight: bold;}

.footer_content nav{ display: flex; align-items: center; width: fit-content; height: fit-content; margin: 0; margin-bottom: 20px; padding: 0;}
.footer_content nav a{ margin: auto 0; padding: 0px 10px; }
.footer_content nav a:first-of-type{ padding-left: 0px; }
.footer_svg{ width: 40px; margin: auto 0; padding: 0; cursor: pointer; }

#facebook_svg{ fill: #00b1ff; }
#instagram_svg{ fill: #ec00ff; }
#whatsapp_svg{ fill: #2fb844; }

.footer_copyright{ display: block; width: fit-content; height: fit-content; padding: 0; margin: 0; margin-top: 20px; font-size: 14px; color: #000000; }
/*--------------------------------------- Footer ---------------------------------------*/











.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */







@media screen and (max-width: 1048px){

    .nav_bar, #above-fold, #address-fullbar .section_content, .section_content, .centered_container, .special_textbox h1, .special_textbox h3, #timetable-fullbar, .footer{ padding-right: 10px; padding-left: 10px; } 
    #special-fullbar .section_content{ padding: 0px; }
    .section_description{ padding-right: 0px; padding-left: 0px; }
}


@media screen and (max-width: 785px){

    .bestBuy-cards_container{ flex-wrap: wrap; height: fit-content; }
    .bestBuy-card, .middle-card{ width: calc( 100% - 8px ); margin: 0px 0px; }
    .bestBuy-card:last-of-type{ margin-bottom: 4px; }
    .middle-card{ margin: 40px 0px; }

    .bestBuy-card, .middle-card{ padding: 30px 20px; }
    .bestBuy-card-top h1{ font-size: 35px; }
    .bestBuy-card-top h3{ font-size: 30px; }
    .card_star_svg{ width: 25px; }
    .bestBuy-card-btn{ padding: 20px 0px; font-size: 25px; }

}
@media screen and (max-width: 720px){

    #special-fullbar .section_content{ flex-direction: column; }
    .special_svg{ display: none; }
    .special_textbox{ text-align: center; padding: 15px 0px; }
    .fullbar_svg{ margin-left: 0px; }
    #special_cta{ padding: 15px 0px; width: 100%; display: flex; flex-direction: row; justify-content: center; align-items: center;}
}
@media screen and (max-width: 685px){
    .navbar-list{ display: none; }
    .hamburger{ display: block; }

    .customList__div{ flex-wrap: wrap; }
    .customList__ul{ min-width: 230px; }

    #feature-section{ flex-direction: column; }
    .feature-card{ width: 100%; }
    #card-left, #card-right{ margin: 0; }
    #card-right{ margin-top: 20px; }

    .cta-text{ flex-direction: column; }
    .cta-text a{ width: 100%; }
    .cta-text__left, .cta-text__right{ margin: 0px; }
    .cta-text__right{ margin-top: 20px; }
}
@media screen and (max-width: 665px){

    #address-fullbar .section_content{ flex-direction: column; justify-content: center; }
    .fullbar_btn{ justify-content: center; }
    .fullbar_span{ text-align: center; }
    .fullbar_svg{ display: none; }

    .info__nav{ align-items: center; justify-content: center; margin-top: 15px; }
    #timetable-fullbar{ flex-direction: column; }
    #address-fullbar, #timetable-fullbar{ padding: 15px 0px; }
}
@media screen and (max-width: 625px){

    .popup-content{ width: 100%; }
    .brand-logo{ width: 180px; }

    .above-fold-img{ display: none; }
    .above-fold-left{ position: relative; min-width: 100%; width: 100%; }
    #above-fold .section_content{ height: fit-content; }

    #above-fold-texts{ margin-top: 40px; text-align: center; }
    #above-fold-btns{ width: 100%; margin-bottom: 60px;}
    #above-fold-btns a{ padding: 15px 0px; width: 50%; text-align: center; }

    .bestBuy-card, .middle-card{ padding: 20px 20px; }
    .bestBuy-card-btn{ padding: 15px 0px; font-size: 25px; }
}
@media screen and (max-width: 545px){ .carousel_btn { width: 15%; } }
@media screen and (max-width: 485px){
    
    .bestBuy-card-top h1{ font-size: 30px; }
    .bestBuy-card-top h3{ font-size: 25px; }
    .card_star_svg{ width: 20px; }
    .bestBuy-card-btn{ padding: 10px 0px; font-size: 20px; }
    #above-fold-btns a#last-btn { margin-left: 15px; }
}
@media screen and (max-width: 425px){ .h1-text{ font-size: 35px; } #h3-subtitle{margin-bottom: 15px;} }
@media screen and (max-width: 380px){ #cta-call_now{ display: none; } .popup-top h1{ font-size: 35px; }}
@media screen and (max-width: 320px){
    
    .bestBuy-card-top h1{ font-size: 26px; }
    .bestBuy-card-top h3{ font-size: 18px; }
    .card_star_svg{ width: 15px; }

    .h1-text__variation-short{ display: inline-block; }
    .h1-text__variation-long{ display: none; }
}